{% extends "layout.html" %}

{% block head %}Create account{% endblock %}

{% block body %}
<h1>CREATE ACCOUNT</h1>
<form action="/add-user" method="post">
    <div>
        <label for="password">Username:</label>
        <input type="name" name="username" autocomplete="off" autofocus required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>
    <input type="submit" value="Create Account">
</form>

{% endblock %}