<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
</head>
<body>
    <h1>Find rating of your fav. movie or tv show</h1>
    <form>
        <input id="movie-search-field" type="search" autofocus autocomplete="off" placeholder="Search">
    </form>
    <li id="search-results">

    </li>
    <script src="static/script.js"></script>
</body>
</html>